

:root{
    
    --MAIN-TEXT-color:#2b061f; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #2b061f; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#2b061f; /* Color of links */
    --MAIN-LINK-HOVER-color:#420d26; /* Color of hovered links */
    --MAIN-ANCHOR-color: #2b061f; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#2b061f; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#2b061f; /*Color of menu header border */ 

    --MENU-SEARCH-BG-color:#ffffff; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #ffffff; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #941d55; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#420d26; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#2b061f; /* Background color of other sections #420d26 #dcdffe;*/
    --MENU-SECTIONS-LINK-color: #dcdffe; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #dcdffe;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #2b061f; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #ffffff; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #2b061f; /* Color of <hr> separator in menu */
    
}

body {
    color: var(--MAIN-TEXT-color) !important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

#body a {
    color: var(--MAIN-LINK-color);
    font-weight: bold;
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#sidebar #homelinks {
    background-color: var(--MENU-SECTIONS-BG-color);
    color: var(--MENU-SECTIONS-LINK-color);
    border-bottom-color: #dcdffe;
}

pre {
    background-color: #f0f2ff !important;
    border-width: 3px !important;
    border-color: #2b061f !important;
}

.tab-content {
    background-color: #2b061f;
    padding: 3px !important;
}

#body .tab-nav-button {
    background-color: #ffffff !important;
    border-top-width: 3px !important;
    border-top-color: #2b061f !important;
}

#body .tab-nav-button.active {
    background-color: #2b061f !important;
    color: #ffffff !important;
    border-bottom-color: #2b061f !important;
    
}

#body .tab-item.active {
    color: #ffffff !important;
}

a.btn.btn-default {
    background-color:var(--MENU-SEARCH-BOX-ICONS-color) !important;
    color: var(--MENU-SECTIONS-LINK-color) !important;
    transform: scale(1.1,1.1) !important;
    border: 2px solid transparent !important;
    border-radius: 60px !important;
    align-content: center;
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !important;
    text-transform:none !important;
    
}

/* Mermaid JS Theming for Documaster */

g.classGroup rect {
    stroke: none;
    stroke-width: 1;
    fill:var(--MENU-SEARCH-BOX-ICONS-color) !important;
}

g.classGroup text {
    font-size: large !important;
    fill:#33a1ff !important;
}

button.pill.body {
    pointer-events: none;
    background-color: #941d55;
    border: none;
    color: #dcdffe;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

button.pill.others {
    pointer-events: none;
    background-color: #dcdffe;
    border: none;
    color: #941d55;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

button.pill.yes {
    pointer-events: none;
    background-color: #ffffff;
    color: red;
    border-width: 1px !important;
    border-color: red;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

button.pill.no {
    pointer-events: none;
    background-color: #ffffff;
    color: lightslategray;
    border-width: 1px !important;
    border-color: darkorange;
    border-style: dashed;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

button.pill.cond {
    pointer-events: none;
    background-color: #ffffff;
    color: green;
    border-width: 1px !important;
    border-color: green;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

a.tag-link {
    background-color: #941d55 !important;
}

a.tag-link::before {
    border-right-color: #941d55 !important;
    border-left-width: 1px !important;
}